@import url('https://fonts.googleapis.com/css?family=Libre Baskerville&display=swap');

:root {--main-color:#705D59;}

body * {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  font-family: 'Libre Baskerville', sans-serif;
  text-align:left;
  font-weight: 400;
  color:#382F2D;
  background-color: #EFEFEF;
}

h1 {
  color: var(--main-color);
  text-align: left;
  font-size: 3em;
  padding-top: 0.5em;
  font-family:'Libre Baskerville';
  margin:0
}
h2 {
  font-size: 1.8em;
  text-align:left;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  color: var(--main-color);

}
h3 {
  font-size: 1.2em;
  font-family: 'Libre Baskerville', sans-serif;
  color: var(--main-color);
  font-weight: 400;
  text-align:left;
  margin-bottom: 0.3px;
}

a {text-decoration: none}

p {
  font-size: 1em;
  text-align: left;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight:300;
  text-align:left;
}

.sociallinks a {
  font-family: 'Libre Baskerville', sans-serif;
  color: var(--main-color);
  font-weight: 400;
}

.highlights p {
  line-height: 1.2;
  margin-top: 0.3px;
}
